
<nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
        <a class="navbar-brand" href="#">MongoDb Nytimes Scraper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  {{!-- <a class="nav-link" href="/saved">Saved Articles</a> --}}
                  <button type="button" class="btn btn-primary" id="showSavedBtn" >See the saved articles</button>
                  
                </li>
                <li class="nav-item">
                    {{!-- <button type="button" class="btn btn-primary" id="scrape">scrape Articles</button> --}}
                     <button type="submit" class="btn btn-primary" id="scrapeBtn" >Scrape Site</button>
                </li>
                
            </ul>
        </div>
    </nav>


<div class="container">
        <div class="row">
            <div class="col-12 jumbotron">
                <div class="text-center">
                    <h2>
                        Scrape NYTimes latest news  
                    </h2>
                    <h3>
                        MongoDb 
                    </h3>
                </div>
                   
            </div>
        </div>
    </div>


{{#if headline}}
{{#each headline}} 

<div class="container">
           
            <div class="row">
                <div class="col-md-12">
                <div class='card'>
                        <div class='card-block'>
                            <div class='card-header row '>
                                <div class="mx-auto col-9"  >
                                    
                                    <a  href="{{link}}">{{title}}</a>
                                </div>
                                <div class=" text-right col-3" >
                                     {{!-- <button data-id={{_id}} class="btn btn-success mx-1 mb-1 saveBtn" data-toggle="modal" data-target="#showComment">Save Article</button> --}}
                                    <button type="button" id="openModal" class="btn btn-primary"data-toggle="modal"  
                             data-target="#noteModal{{_id}}"  data-id={{_id}}>
        Launch demo modal
      </button>
                                   
                                </div>
                            </div>
                            <div class="card-body row">



                                <div class="col-4">
                                    {{#if img}}
                                        <img  class="showImg" src="{{img}}"> 
                                    {{/if}} 
                                    {{#unless img}}
                                        <img class="showImg"  src="/assets/images/Photo-Unavailable.jpg"> 
                        
                                    {{/unless}}
                                </div>
                        
                                <div class="col-8">
                                    {{#if summary}}
                                        <p class='card-text p-3'>
                                            {{summary}}
                                        </p>
                                    {{/if}}
                                    {{#unless summary}}
                                        <p>
                                         We're sorry. Looks like there is no brief summary available from The Los Angeles 
                                        Times. If you'd like to read more know more about this, please click the title above 
                                        and you will be redirected to the story. Thanks for understanding.
                                        </p>
                                    {{/unless}}
                                </div>


                                   {{!-- <img>
                                    <p class='card-text p-3 col-md-9'>zdcdsfsdfdsfdsfds</p> --}}
                              
                                    
                                    
                            </div>
            </div>
            </div>
        </div>
        </div> 
           
    </div>

     {{/each}}
{{/if}}
     {{!-- jshxjkxakhxahsxkjasxhjsah --}}


    <div>
        
            salam
                <div class="container">
                    <div class="row">
                        <div class="col-10">
                             {{this.title}}
                        </div>
                       <div class="col-2">
                        
                             <button type="button" id="openModal" class="btn btn-primary"data-toggle="modal"  
                             data-target="#noteModal{{_id}}"  data-id={{_id}}>
        Launch demo modal
      </button>
  

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            {{#if this.img}}
                        <img  class="showImg" src="{{this.img}}"> 
                        {{/if}} 
                        {{#unless img}}
                        <img class="showImg"  src="/assets/images/Photo-Unavailable.jpg"> 
                        
                        {{/unless}}
                         </div>
                        
                        <div class="col-8">
                            {{#if this.summary}}
                            <p>
                            {{this.summary}}
                            </p>
                            {{/if}}
                             {{#unless summary}}
                             <p>
                                 We're sorry. Looks like there is no brief summary available from The Los Angeles 
                            Times. If you'd like to read more know more about this, please click the title above 
                            and you will be redirected to the story. Thanks for understanding.
                             </p>
                              {{/unless}}
                        </div>
                        

                       
                        
                    </div>

                </div>
               
          
    </div>
     {{/each}}
   {{/if}}
{{!-- </body> --}}
{{#each headline}} 
    
    <div class="modal fade" id="noteModal{{_id}}" tabindex="-1" role="dialog" aria-labelledby="noteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="noteModalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="showNotes">salam{{title}}</p>
        {{!-- {{!-- {{#if notes.title}} --}}
        {{!-- {{#if notes}}
            {{#each notes._id}}  --}}
         {{#if notes}}
                    {{#each notes}}
              <div class="panel panel-default delete">
                            <div class="panel-body">
                                <p class="previousNotes"> {{title}}: {{body}}:****{{headline}}*** :{{_id}} </p>
                                <button type="button" class="btn btn-danger deleteNote"  data-note-id={{_id}} data-headline-id={{headline}}>X</button> 
                            </div>
                        </div>
                    {{/each}}
        {{else}}
         <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>No notes for this article yet.</h4>
                        </div>
                    </div>
                {{/if}}
            {{!-- <div class="w-25">
 {{notes.title}} {{notes.body}}
 <button type="button" class="btn btn-danger deleteNote" data-note-id={{notes._id}} data-headline-id={{_id}}>X</button> 
            </div> --}}
            {{!-- {{/each }} {{/if}} --}}
            <div class="w-75">

            </div>
            <p >
             
            </p>
            <p class="w-75">
                
            </p>
            {{!-- {{!-- --}}
        {{!-- {{/if}} --}} 
         {{!--  --}}
        <div id="showNotesDetail">
            
 {{!-- {{#if article}}
            {{#each article}}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>{{this.title}}</h4>
                    </div>
                    <div class="panel-body">
                        <p> {{this.summary}}</p>
                        <a href={{this.link}} target="_blank">{{this.link}}</a>
                        <br><br>
                        <button type="button" class="btn btn-success addNote" data-toggle="modal" data-target="#noteModal{{this._id}}" data-id={{this._id}}>Add a Note</button>
                        <button type="button" class="btn btn-danger delete" data-id={{this._id}}>Delete</button>
                    </div>
                </div>
            {{/each}}
        {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>You have no saved articles.</h4>
            </div>
        </div>
        {{/if}} --}}
        </div>
        {{!-- {{/each}}
        {{/if}} --}}
        
        <p id="showNotes"><input type="text" id="noteInputTitle{{_id}}"  ></p>
        <p id="showNotes"><textarea id="noteInputBody{{_id}}" ></textarea></p>
        {{!-- <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveNote">Save Your Note</button> --}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"   data-dismiss="modal">Close</button>
        <button  class="btn btn-primary saveNote" data-id={{_id}} >Save Your Note</button>
      </div>
    </div>
  </div>
</div> 
   {{/each}}
<script src="/assets/js/scrape.js"></script>